.txt-uppercase {
  text-transform: uppercase;
}

.show {
  display: initial !important;
}

.hide {
  display: none !important;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.va-top {
  vertical-align: top;
}

.va-bottom {
  vertical-align: bottom;
}

.c-pointer {
  cursor: pointer;
}

.f-bold {
  font-weight: 600;
}

.f-italic {
  font-style: italic;
}

.mg-auto {
  margin: 0 auto;
}

@each $var in 'left', 'center', 'right' {
  .txt-#{$var} {
    text-align: #{$var};
  }

  .float-#{$var} {
    float: #{$var};
  }
}

@each $var in 2, 4, 6, 8, 10, 12, 16, 18, 20, 24, 28, 32, 38, 40, 48, 50, 64, 72, 80, 84, 96, 100, 128, 144, 160 {
  .pd-#{$var}px {
    padding: #{$var}px !important;
  }
  .mg-#{$var}px {
    margin: #{$var}px !important;
  }
  @each $direction in 'top', 'bottom', 'left', 'right' {
    .pd-#{$direction}-#{$var}px {
      padding-#{$direction}: #{$var}px !important;
    }
    .mg-#{$direction}-#{$var}px {
      margin-#{$direction}: #{$var}px !important;
    }
  }
}

@each $var in 8, 10, 12, 16, 20, 24, 28, 32, 36, 40, 42, 44, 48, 56, 60, 64, 68, 72, 80, 84, 88, 96, 100, 112, 128, 132, 136, 140, 144, 160, 180, 190, 200, 220, 236, 240, 250, 280, 320, 400, 430, 480, 640, 800, 900 {
  .width-#{$var}px {
    width: #{$var}px !important;
  }

  .height-#{$var}px {
    height: #{$var}px !important;
  }

  .size-#{$var}px {
    width: #{$var}px !important;
    height: #{$var}px !important;
  }
}

@each $var in 11, 12, 13, 14, 16, 18, 20, 22, 24, 28, 32, 36, 40, 48, 56, 64, 96, 128 {
  .fontsize-#{$var}px {
    font-size: #{$var}px !important;
  }
}

$i: 0;
@while $i <= 100 {
  .width-#{$i}per {
    width: #{$i}% !important;
  }

  $i: $i + 1;
}
