@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}


@mixin placeholder($var) {
  ::-webkit-input-placeholder {
      color: $var;
  }
  :-moz-placeholder {
     color: $var; 
  }
  ::-moz-placeholder {
     color: $var;
  }
  :-ms-input-placeholder {
     color: $var;
  }
}
