div(ng-controller='HeaderCtrl as vm')
  .wrapper
    .logo
      a(href='/')
        img(src='/assets/images/logo.png')
    .user
      ul
        a(href='/transactions')
          li
            span(translate) Transactions
        a.mg-left-24px(href='#')
          li.user-image
            img.width-36px(src='/assets/images/avatar.jpg')
