.nav {
  list-style: none;
  display: inline-block;
  padding: 15px 0;
  float: left;

  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 48px 0 0;
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
      white-space: nowrap;
    }
  }
}

.nav.nav-right {
  float: right;

  li {
    margin-right: 4px;
  }
}
