[plain-select] {
  vertical-align: top;

  ul {
    position: absolute;
    z-index: 99;
    border: 1px solid rgba(48, 48, 48, 0.25);
    background-color: rgba(48, 48, 48, 1);
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    outline: none;
    box-shadow: 0px 0px 48px -8px rgba(0, 0, 0, 0.25);
    &:not(.hide) ~ .anchor {
    }

    li {
      padding: 8px 20px;
      cursor: default;

      &.active {
        background-color: rgba(200, 200, 200, 0.25);
      }
    }
  }
}

[plain-select].light ul {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 1);
}
