#transactionImport {
  margin: 24px 0 0 0;

  .title {
    text-align: center;
    font-size: 20px;
    margin: 0 0 24px 0;
  }

  .description {
    width: 80%;
    margin: 0 auto 32px auto;
    line-height: 200%;
  }

  textarea {
    line-height: 200%;
  }
}

#transactions {
  .empty-data {
    text-align: center;
    font-size: 16px;
    margin: 24px 0;
  }
}
