.container {
  width: 1000px;
  margin: 0 auto;
}

main {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
}

#content {
  padding: 58px 0 0 0;
  max-width: 1152px;
  min-width: 1024px;
  margin: 0 auto;

  .page-title {
    text-align: center;
    font-size: 24px;
    position: relative;
    padding: 24px 0;

    &:before {
      border-top: 2px solid #666;
      margin: 0 0 0 -56px;
      width: 48px;
      position: absolute;
      content: "";
      left: 50%;
      height: 4px;
      bottom: 0;
    }

    &:after {
      border-top: 2px solid #666;
      margin: 0 0 0 8px;
      width: 48px;
      position: absolute;
      content: "";
      left: 50%;
      height: 4px;
      bottom: 0;
    }
  }
}

#full_content {
  padding: 0;
  margin: 0 auto;
  max-width: 2000px;
}

#partner {
  padding: 24px 0;

  img {
    width: 128px;
    filter: grayscale(100%);
  }
}
