<!doctype html>
<html ng-app="bokio">
  <head>
    <meta charset="utf-8">
    <title ng-bind='pageTitle'>Bokio</title>
    <meta name="description" content="{{pageDescription}}">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <base href="/">

    <link rel="prefetch" href="/assets/images/loader.png">
    <link rel="canonical" href="{{pageCanonical}}">

    <style>.initialize #loading{display:block;background-color:#fff}#loading{display:none;z-index:9999999;width:100%;height:100%;position:fixed;top:0;left:0;right:0;bottom:0}#loading[processing]{display:block;position:fixed}#loading .spinner{margin:0 auto;width:64px;height:40px;text-align:center;font-size:10px;position:absolute;top:50%;left:50%;margin:-48px 0 0 -25px}#loading .spinner > div{background-image:linear-gradient(to bottom right,#00cdaf,#00cd91);height:100%;width:6px;display:inline-block;margin:0 3px 0 0;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}#loading .rect2.rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}#loading .rect3.rect3{-webkit-animation-delay:-1s;animation-delay:-1s}#loading .rect4.rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}#loading .rect5.rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}@-webkit-keyframes sk-stretchdelay{0%,40%,100%{-webkit-transform:scaleY(0.4)}20%{-webkit-transform:scaleY(1)}}@keyframes sk-stretchdelay{0%,40%,100%{transform:scaleY(0.4);-webkit-transform:scaleY(0.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}</style>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="loading">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <main ng-view></main>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
