header('ng-include'='"libraries/components/headers/index.html"')
#content.mg-bottom-96px
  .page-title Transaction Logs Import
  #transactionImport
    .row.mg-top-16px
      .column-50.pd-right-12px
        .title Boost your accounting?
        .description We are try to make your accounting faster and more accurately by reading all the dates and sums from the bank transaction logs. So you just log into your bank and then copy the whole page and then paste it in Bokio. Bokio will do everything for you.
        .txt-center
          button.btn.btn-link(ng-click='vm.openData()') Sample Logs
      .column-50.pd-left-12px
        .title Your Logs
        form.blank(role='form', name='vm.TransactionForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()', autocomplete='off')
          .errors
          .form-group.mg-top-24px
            textarea(type='text', placeholder="Please paste your transaction logs here", name='transaction_logs', rows="4" ng-model='vm.transactionLogs', required=true)
            .error
          br
          button.btn.btn-primary(type='submit') Submit
            .error
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
