header('ng-include'='"libraries/components/headers/index.html"')
#content.mg-bottom-96px
  .page-title Transaction Logs
  br
  #transactions
    table.table(ng-if='vm.userTransactions.length > 0')
      thead
        tr
          th.wdith-20per Date of payment
          th.width-40per Description
          th.width-20per Amount
          th.width-20per Balance
      tbody
        tr(ng-repeat='userTransaction in vm.userTransactions')
          td(ng-bind='userTransaction.dateOfPayment')
          td(ng-bind='userTransaction.description')
          td(ng-bind='userTransaction.amount')
          td(ng-bind='userTransaction.balance')
    .empty-data(ng-if='vm.userTransactions.length == 0') Currently, you have no data in your transactions.
